---
import OpacityOverlay from "../components/OpacityOverlay.astro";

interface Props {
  title: string;
  description: string;
}

const basePageTitle = "genocide.club";
const { title, description } = Astro.props;
const homePage = title.startsWith(basePageTitle);
const pageTitle = homePage ? title : `${basePageTitle} • ${title}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <OpacityOverlay />
    <main>
      {
        !homePage && (
          <div class="logo">
            <a href="/" title="genocide.club home">
              genocide.club
            </a>
          </div>
        )
      }
      <div class="content">
        <h1 class="page-title">{title}</h1>
        <slot />
      </div>
    </main>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: rgb(28, 14, 14);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/gaza-drone.jpeg");
    background-attachment: fixed;
  }
  @font-face {
    font-family: "PTSerif";
    src: url("/fonts/PTSerif-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "PTSerif-Bold";
    src: url("/fonts/PTSerif-Bold.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .content {
    position: relative;
    z-index: 1;
    color: rgba(255, 255, 255, 80%);
  }
  h1.page-title,
  .logo {
    font-family: "PTSerif";
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    opacity: 0.75;
    letter-spacing: 0.05em;
  }
  .logo {
    font-family: "PTSerif-Bold";
    font-size: 1.2rem;

    a {
      color: white;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
  a {
    color: rgba(0, 174, 9, 0.8);
    text-decoration: none;
  }
</style>
